/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

/* untuk semua halaman */
header {
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 10px 0;
}

/*  (index.html) */
.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* (create_reservation.php) */
.reservation-form {
    margin-bottom: 20px;
}

.reservation-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.reservation-form input,
.reservation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reservation-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* (view_reservations.php) */
.reservations-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.reservations-table th,
.reservations-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.reservations-table th {
    background-color: #f2f2f2;
}

.reservations-table tr:hover {
    background-color: #f2f2f2;
}

/*(info.html) */
.info-content {
    padding: 30px 0;
    text-align: justify;
}

/* (reservation.html) */
.reservation-info {
    padding: 30px 0;
    text-align: justify;
}

/*  (gallery.html) */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 20px;
  }
  
  .gallery-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .image-wrapper {
    position: relative;
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .image-description {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .image-description h3 {
    margin-top: 0;
  }
/*(contact.html) */
.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


