/* styles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url('gambar/background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 110px 0;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* About Section */
.about {
    padding: 50px 0;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
}

/* Amenities Section */
.amenities {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
}

.amenities h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.amenities-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.amenity {
    flex-basis: 30%;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.amenity img {
    max-width: 100%;
    border-radius: 4px;
}

.amenity h3 {
    font-size: 24px;
    margin: 10px 0;
}

/* Contact  */
.contact {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
